nav ul {display: none;}
nav ul.open {display: block;}

#menu span:nth-child(1) {display: block;}
#menu span:nth-child(2) {display: none;}

#menu.open span:nth-child(1) {display: none;}
#menu.open span:nth-child(2) {display: block;}