div {
    margin: auto;
    text-align: center;
}

img {
    width: 10%;
}

#example2 {
    display: none;
    margin: 20%;
    background-color: coral;
}

/* @keyframes example {
    from {font-size: 2rem;}
    to {font-size: 5rem;}
}

div {
    animation-name: example;
    animation-duration: 5s ;
} */

/* @keyframes example2 {
    from {font-style: italic;}
    to {font-style: none;}
}

div {
    animation-name: example2;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
} */

/* @keyframes example3 {
    from {font-style: italic; color: blue; font-size: 2rem;}
    to {font-style: none; color: greenyellow; font-size: 5rem;}
}

div {
    animation-name: example3;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
} */

/* @keyframes example4 {
    from {
        margin-left: 50%;
        width: 300%;
    }

    to {
        margin-left: -50%;
        width: 100%;
    }
}


div {
    animation-name: example4;
    animation-duration: 5s ;
    animation-iteration-count: infinite;
} */

/* @keyframes example5 {
    25% {background-color: aqua;}
    50% {background-color: brown;}
}

div {
    animation-name: example5;
    animation-duration: 8s;
    animation-iteration-count: infinite;
} */

/* @keyframes example6 {
    5% {left: -200px; top: 5px;}
    40% {left: 300px; top: 550px; transform: rotate(180deg)}
    90% {left: 500px; top: 490px;}
}

div {
    animation-name: example6;
    position: relative;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} */

/* @keyframes example7 {
    5% {left: -200px; top: 5px;}
    40% {left: 300px; top: 550px;}
    90% {left: 500px; top: 490px;}
}

div {
    animation-name: example7;
    position: relative;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
} */


/* @keyframes example8 {
    5% {left: 0px; top: 5px;}
    40% {left: 300px; top: 550px;}
    90% {left: 500px; top: 490px;}
}

div {
    animation-name: example8;
    position: relative;
    animation-duration: 10s;
    animation-iteration-count: 3;
} */

/* @keyframes example9 {
    5% {left: 0px; top: 5px;}
    40% {left: 300px; top: 550px;}
    90% {left: 500px; top: 490px;}
}

div {
    animation-name: example9;
    position: relative;
    animation-duration: 10s;
    animation-iteration-count: 3;
    animation-direction: alternate;
} */

/* @keyframes example10 {
    from {left: 0px; top: 5px;}
    to {left: 300px; top: 700px;}
}

div {
    animation-name: example10;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-timing-function: ease; */
    /* animation-timing-function: linear; */
    /* animation-timing-function: ease-in; */
    /* animation-timing-function: ease-out; */
    /* animation-timing-function: ease-in-out; */
    /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1) */


/* @keyframes example11 {
    from {left: 0px; top: 5px; background-color: aqua;}
    to {left: 300px; top: 500px; background-color: blueviolet;}
}

div {
    animation-name: example11;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 2s;
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
    /* animation-fill-mode: both; */


/* @keyframes example12 {
    from {left: 0px; top: 5px; background-color: aqua;}
    to {left: 300px; top: 500px; background-color: blueviolet;}
}

div {
    animation-name: example12;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-play-state: paused;
}
div:hover {
    animation-play-state: running;
} */
/* @keyframes example13 {
    from {left: 0px; top: 5px; background-color: aqua;}
    to {left: 300px; top: 500px; background-color: blueviolet;}
}

#example1{
    animation-name: example13;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-play-state: paused;
}
#example1:hover {
    animation-play-state: running;
}  */


