body {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    
}

img {
    border: solid 1px;
    margin: 5px;
}

article img[data-src] {
    filter: blur(0.2em);
  }
  
  article img {
    filter: blur(0em);
    transition: filter 0.5s;
  }