body {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    
}
img[data-src] {
    filter: blur(0.2em);
  }
img {
    border: solid 1px;
    margin: 5px;
    filter: blur(0em);
    transition: filter 0.5s;
}


  
