@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Francois+One&display=swap');

header, footer {
    font-family: 'Francois One';
    background-color: #C84630;
}
main {
    font-family: 'Arima Madurai';
}

nav a, #footer p{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    display: block;
    }
nav a {
    padding: 15px;
}
nav a:hover {
    background-color: #D4A0A7;
}

nav, #footer{
    display: flex;
    flex-direction: column;
}


img {
    display: block;
    margin: auto;
    width: 80%;

}


#colors div {
    padding: 50px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

#C84630 {
    background-color: #C84630;
}

#D4A0A7 {
    background-color: #D4A0A7;
}

#E3E3E3 {
    background-color: #E3E3E3;
}

#C898989 {
    background-color: #898989;
}

#C5DA271 {
    background-color: #5DA271;
}

#typo h2 {
    font-family: 'Francios One';
}

#typo {
    text-align: center;
    margin: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.F {
    font-family: 'Francois One';
}
.A {
    font-family: 'Arima Madurai';
}
#samples {
    text-align: center;
}
#sample h1, #sample h2, #sample h3, #sample h4{
    font-family: 'Francois One';
}
#sample p{
    font-family: 'Arima Madurai';
}