@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Francois+One&display=swap');
body {
    margin: 0;
}

main {
    margin: 2.5vw;
    text-align: center;
    /* height: fit-content; */
    /* display: inline-block; */
    height: auto;
    /* overflow: hidden; */
    /* float: bottom; */
    max-height: none;
    max-height: fit-content;
    height: fit-content;
}

.logo {
    width: 30%;
    margin-right: auto;
    margin-left: 10px;
}

.topnav {
    display: flex;
    align-items: center;
}
header, footer{
    background-color: #C84630;
    font-family: "Francois One";
    color: #E3E3E3;
    text-align: center;
    padding:15px 0;
}

button, i{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #E3E3E3;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    color: #E3E3E3;
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid #E3E3E3;
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {display: none;}
nav ul.open {display: block;}

#menu span:nth-child(1) {display: block;}
#menu span:nth-child(2) {display: none;}

#menu.open span:nth-child(1) {display: none;}
#menu.open span:nth-child(2) {display: block;}

main, #meeting {
    font-family: "Arima Madurai";
}
main div {
    background-color: #D4A0A7;
    margin: .5vw;
    padding: .5vw;
    height: 58.71vw;
    

}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#meeting{
    background-color: #D4A0A7;
    color: #E3E3E3;
    text-align: center;
    font-size: 1.5em;
    height: auto;
    display: none;
    padding: 1rem;
}
#join {
    display: none;
}
#spotlights{
    height: auto;
}
#spotlight1, #spotlight2, #spotlight3{
    background-color:  #E3E3E3;
}
#spotlight3 {
    display: none;
}
#weather{
    height: auto;
}
#weather1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#weather2 {
    font-size: 2rem;
}

.logo_footer {
    width: 50%;
}
#hero {
    position: relative;
}

#joinbtn {
    background-color: #C84630;
    border-radius: 10px;
    padding: 13px;
    color: #E3E3E3;
    position: absolute;
    right: 0;
    left: 0;
    margin:40% 15%;
    
}



h2, h3, button {
    font-family: "Francois One";
}

#discover {
    height: auto;

}
#discover_img {
    height: auto;
}
#demographic {
    font-size: 2rem;
    color: #E3E3E3;
}
