@media only screen and (min-width: 65rem) {
    #menu {display: none;}
    nav ul#navigation{
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid #E3E3E3;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid #E3E3E3;
    }
    #upperfooter div p{
        padding-right: 140px;
        text-align: left;
    }
    header {
        padding:15px 30px ;
    }
    .logo {
        margin-left: 30px;
    } 
    header nav{
        font-size: 2em;
    }
    #top{
        display: flex;

        align-items: center;
    } 
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(140, 1fr);
        
    }
    #hero{
        grid-column: 2/4;
        grid-row: 1/101;
        height: auto;
    }
 
    #news{
        grid-row: 101/141;
        grid-column: 2/4;
    }
    #spotlights{
        grid-row: 1/141;
        grid-column: 4;
        display: block;
        height: auto;
    }
    #spotlight1, #spotlight2, #spotlight3{
        height: 30%;
    }
    #spotlight3 {
        display: block;
    }
    #join{
        grid-column: 1;
        grid-row: 101/141;
        display: block;
    }
    #events{
        grid-column: 1;
        grid-row: 1/41;
    }
    #weather{
        grid-column: 1;
        grid-row: 41/101;
    }
    footer{
        font-size: 1.5rem;
    }
    .logo_footer {
        padding: 15px;
    }
    #joinbtn {
        margin:60% 25%;
        font-size: 2rem;
    }
    #joinbtn2 {
        font-size: 2rem;
        margin-top: 5%;
    }
    #discover {
        grid-column: 1/4;
        grid-row: span 28;
    }
    #demographic {
        grid-column: 4;
        grid-row: span 35;
    }
}