@media only screen and (min-width: 65rem) {
    #menu {display: none;}
    nav ul#navigation{
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid #E3E3E3;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid #E3E3E3;
    }
    #upperfooter div p{
        padding-right: 140px;
        text-align: left;
    }
    header {
        padding:15px 30px ;
    }
    .logo {
        margin-left: 30px;
    } 
    header nav{
        font-size: 2em;
    }
    #top{
        display: flex;

        align-items: center;
    } 
    main.main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        
    }
    main.discover_page {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(20, 1fr);
        
    }
    #hero{
        grid-column: 2/4;
        grid-row: 1/6;
        height: auto;
    }
 
    #news{
        grid-row: 6/8;
        grid-column: 2/4;
    }
    #spotlights{
        grid-row: 1/8;
        grid-column: 4;
        display: block;
        height: auto;
    }
    #spotlight1, #spotlight2, #spotlight3{
        height: 30%;
    }
    #spotlight3 {
        display: block;
    }
    #join{
        grid-column: 1;
        grid-row: 6/8;
        display: block;
    }
    #events{
        grid-column: 1;
        grid-row: 1/3;
    }
    #weather{
        grid-column: 1;
        grid-row: 3/6;
    }
    footer{
        font-size: 1.5rem;
    }
    .logo_footer {
        padding: 15px;
    }
    #joinbtn {
        margin:60% 25%;
        font-size: 2rem;
    }
    #joinbtn2 {
        font-size: 2rem;
        margin-top: 5%;
    }
    .discover {
        grid-column: 1/4;
        grid-row: span 4;
        font-size: 1.5rem;
    }
    .demographic {
        grid-column: 4;
        grid-row: span 5;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cards section {
        height: 19.5vw;
        font-size: .85vw;
    }
    #spotlights section {
        height: 14vw;
        font-size: .75vw;
        line-height: 1;
    }
    .cards a {
        font-size: 1.7vw;
    }

    #spotlights h1 {
        font-size: 1.5vw;
    }

    #spotlights a {
        font-size: .75vw;
    }
    #icon {
        width: 7vw;
        height: auto;
        margin: auto;    
    }

    #temperature {
        font-size: 3rem;
    }
    #desc{
        font-size: 1.5vw;
    }
}