@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: 'merriweather';
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: purple;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 25px;
    margin: 25px;
    padding: 20px 0px 20px 35px;
}
header img {
    grid-column: 1;
    width: 100%;
    border-radius: 25px;
    vertical-align: middle;
}
header h1{
    grid-column: 2;
    text-align: center;
    width: auto;
    position: relative;
    font-size: 25px;
    padding: 25px;
    
}

main{
    margin: 5%;
    
}

main h2{
    font-size: 25px;

}
main ul{
    font-size: 17px;
  
}

footer {
    background-color: purple;
    color: white;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
}